@require '_colors'

.c-error {
  color: $main.error !important;
}
.c-buy {
  color: exchange-buy !important;
}

.c-sell {
  color: exchange-sell  !important;
}

.c-white-30 {
  color: rgba($main.white, 0.5) !important;
}

.c-white-80 {
  color: rgba($main.white, 0.8) !important;
}

.c-highlight {
  color: $main.orange !important;
}
.c-cancel-order {
  color: rgba($main.white, 0.5) !important;
}
.c-grey {
  color: $main.grey !important;
}

 .c-custom-coin {
  color: $main.hover !important;
}