// common color
orange  = #FF9143
cybex-crimson = #D2323E
grass   = #6DBB49
blue    = #2E5BE2
light   = #F7F8FA
cybex-grey    = #78819A
dark    = #171D2A
cybex-red = #D7333D

white-opacity-30 = rgba(255, 255, 255, 0.3)
white-opacity-40 = rgba(255, 255, 255, 0.4)
white-opacity-50 = rgba(255, 255, 255, 0.5)
white-opacity-80 = rgba(255, 255, 255, 0.8)

// exchange
exchange-sell = #D24632; //#BE4634;
exchange-buy = #6DBB49;
exchange-normal = #FFFFFF;
exchange-highlight = #ff9143;
exchange-container-bg = #1b2230;

// linear-gradient
gradients-foilex = linear-gradient(99deg, #e7ac5f, #e76536)
gradients-goldex = linear-gradient(98deg, #ffc478, #ff9143)
gradients-silvex = linear-gradient(278deg, rgba(255, 255, 255, 0.5), #ffffff)
gradients-greyex = linear-gradient(278deg, rgba(120, 129, 154, 0.5), #78819a)
gradients-svg-orange = linear-gradient(-131deg, #FFC478 0%, #FF9143 100%)
gradients-btn-orange = linear-gradient(100deg, #ffc478, #ff9143);


$main = {
  white: #FFFFFF,
  orange: #FF9143,
  rosset: #C87d41,
  hover: #ffc478,
  bronze: #C86443,
  flame: #D24632,
  crimson: #D2323e,
  warn: #C12121,
  mahogany: #502D2D,
  blush: #FF787c,
  sell: #D24632,
  error: #D7333D,
  glass: #6DBB49,
  cyan: #2b756c,
  pine: #2d4134,
  blue: #2e5be2,
  aegean: #356da4,
  pupple: #7b44ae,
  cobalt: #2e51b0,
  lapis: #3d5bb2,
  light: #f7f8fa,
  porcelain: #eff1f4,
  grey: #78819a,
  lilac: #8f9ab9,
  fossil: #707481,
  dark: #171d2a,
  lead: #1b2230,
  noir: #111621,
  anchor: #212939,
  independence: #293246,
};

$gradients = {
  foilex: linear-gradient(99deg, #e7ac5f, #e76536),
  goldex: linear-gradient(133deg, #ffc478, #ff9143),
  silvex: linear-gradient(278deg, rgba(255, 255, 255, 0.5), #ffffff),
  greyex: linear-gradient(278deg, rgba(120, 129, 154, 0.5), $main.grey)
};