
@import '~vuetify/src/stylus/settings/_variables'
// vuetify variables override
$font-size-root = 14px
$line-height-root = 1
$button-font-size := 24px


// custom theme variables
spacing = 12px
spacing-larger = 16px
nav-height = 60px
footer-height = 64px
small-nav-height = 40px
activity-height = 64px
small-activity-height = 48px

//exchange
k-line-min-height = 380px
k-line-toolbar-height = 24px;
title-height = 40px;
order-tab-height = 40px
order-filter-height = 36px;
order-filter-large-height = 48px;
order-asset-tab-height = 56px;

order-page-title-height = 96px;
order-page-title-mb = 16px;
order-page-pb = 32px;