$u-f-path = '~assets/fonts/avenir-lt-pro/'
$fontData = {
  light: lighter,
  book: 200,
  roman: 400,
  medium: normal,
  heavy: bold,
  black: bolder
}
$fontWeight = {
  // normal
  light: lighter,
  book: 200,
  roman: 400,
  medium: normal,
  heavy: bold,
  black: bolder,
  //windows
  light-windows: lighter,
  book-windows: lighter,
  roman-windows: lighter,
  medium-windows: normal,
  heavy-windows: normal,
  black-windows: bold
}
// $fontData = {
//   // Light: lighter,
//   // book: 200,
//   // roman: 400,
//   regular: normal,
//   heavy: bold,
//   black: bolder
// }

