@import "_icons_variables"
@import "_icons_svg"

@font-face
  font-family 'cybex-ex'
  src url(font-path + '/cybex-ex.eot') format('embedded-opentype'),
      url(font-path + '/cybex-ex.ttf') format('truetype'), 
      url(font-path + '/cybex-ex.woff') format('woff'), 
      url(font-path + '/cybex-ex.svg') format('svg')
  font-weight normal
  font-style normal
  font-display block
  font-size 24px

[class^="ic-"], [class*=" ic-"]
  font-family 'cybex-ex' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ic-settings
  &:before
    content ic-settings  
    color #78819a
.ic-search
  &:before
    content ic-search  
    color #78819a
.ic-star
  &:before
    content ic-star  
    color #78819a
.ic-info
  &:before
    content ic-info
.ic-candle
  &:before
    content ic-candle
.ic-balance_wallet
  &:before
    content ic-balance_wallet  
    color #78819a
.ic-cancel
  &:before
    content ic-cancel  
    color #78819a
.ic-arrow_drop_down
  &:before
    content ic-arrow_drop_down  
    color #78819a
.ic-chevron_right
  &:before
    content ic-chevron_right  
    color #78819a
.ic-chevron_left
  &:before
    content ic-chevron_left  
    color #78819a
.ic-logout
  &:before
    content ic-logout  
    color #78819a
.ic-wallet_address
  &:before
    content ic-wallet_address  
    color #78819a
.ic-deposit
  &:before
    content ic-deposit  
    color #78819a
.ic-address
  &:before
    content ic-address  
    color #78819a
.ic-send
  &:before
    content ic-send  
    color #78819a
.ic-refresh
  &:before
    content ic-refresh  
    color #78819a
.ic-copy
  &:before
    content ic-copy  
    color #78819a
.ic-first_page
  &:before
    content ic-first_page  
    color #78819a
.ic-last_page
  &:before
    content ic-last_page  
    color #78819a
.ic-help
  &:before
    content ic-help  
    color #78819a
.ic-error
  &:before
    content ic-error  
    color #d7333d
.ic-correct
  &:before
    content ic-correct  
    color #6dbb49
.ic-records
  &:before
    content ic-records  
    color #78819a
.ic-feedback
  &:before
    content ic-feedback
.ic-arrow_up
  &:before
    content ic-arrow_up  
    color #78819a
.ic-alarm_white
  &:before
    content ic-alarm_white  
    color #fff
.ic-arrow_down_red
  &:before
    content ic-arrow_down_red  
    color #be4634
.ic-arrow_drop_down_orange
  &:before
    content ic-arrow_drop_down_orange  
    color #ff9143
.ic-arrow_drop_down_white
  &:before
    content ic-arrow_drop_down_white  
    color #fff
.ic-arrow_drop_up_orange
  &:before
    content ic-arrow_drop_up_orange  
    color #ff9143
.ic-arrow_right
  &:before
    content ic-arrow_right  
    color #fff
.ic-arrow_up_green
  &:before
    content ic-arrow_up_green  
    color #6dbb49
.ic-avatar_error
  &:before
    content ic-avatar_error  
    color #d2323e
.ic-avatar
  &:before
    content ic-avatar  
    color #78819a
.ic-close
  &:before
    content ic-close  
    color #78819a
.ic-check_box
  &:before
    content ic-check_box  
    color #78819a
.ic-drag-vertical
  &:before
    content ic-drag-vertical  
    color #78819a
.ic-facebook
  &:before
    content ic-facebook  
    color #78819a
.ic-instagram
  &:before
    content ic-instagram  
    color #78819a
.ic-medium
  &:before
    content ic-medium  
    color #78819a
.ic-twitter
  &:before
    content ic-twitter  
    color #78819a
.ic-telegram
  &:before
    content ic-telegram  
    color #78819a
.ic-visibility_off
  &:before
    content ic-visibility_off  
    color #78819a
.ic-visibility_on
  &:before
    content ic-visibility_on  
    color #78819a
.ic-lock_error
  &:before
    content ic-lock_error  
    color #d2323e
.ic-lock_outline
  &:before
    content ic-lock_outline  
    color #78819a
.ic-lock_tab
  &:before
    content ic-lock_tab  
    color #78819a
.ic-unlock_tab
  &:before
    content ic-unlock_tab  
    color #78819a
.ic-pincode
  &:before
    content ic-pincode  
    color #78819a
.ic-pincode_error
  &:before
    content ic-pincode_error  
    color #d2323e
.ic-star_far
  &:before
    content ic-star_far
    color #ff9143;    color #ff9143;    color #ff9143;    content ic-star_far  
    color #ff9143
.ic-full
  &:before
    content ic-full  
    color #78819a
.ic-sort
  &:before
    content ic-sort  
    color #78819a
.ic-sort_down
  &:before
    content: ic-sort_down
    color #78819a
.ic-sort_down-path2
  &:before
    content: ic-sort_down-path2  
    margin-left -1em  
    color #78819a
.ic-sort_up
  &:before
    content: ic-sort_up
    color #78819a
.ic-sort_up-path2
  &:before
    content: ic-sort_up-path2  
    margin-left -1em  
    color #78819a

.ic-indicators
  &:before
    content ic-indicators  
    color #78819a
.ic-arrow-back
  &:before
    content ic-arrow-back  
    color #fff
.ic-add
  &:before
    content ic-add  
    color #78819a
.ic-add_box_active_disabled
  &:before
    content ic-add_box_active_disabled  
    color #78819a
.ic-check_box_active_disabled
  &:before
    content ic-check_box_active_disabled  
    color #78819a
.ic-out
  &:before
    content ic-out  
    color #fff
.ic-in
  &:before
    content ic-in  
    color #fff
.ic-outcome
  &:before
    content ic-outcome  
    color #d24632
.ic-income
  &:before
    content ic-income  
    color #6dbb49