.ic-star_active
  background: url('~assets/svg/ic-star_active.svg') no-repeat center;
  width: 24px;
  height: 24px;
  &.small
    width: 16px;
    height: 16px;
    background-size: contain;
    transition: none;
.ic-asset-icon-bg
  background: url('~assets/svg/asset-icon-bg.svg') no-repeat center;
  width: 20px;
  height: 20px;
  background-size: contain;
  border-radius: 4px;

.ic-grey-feedback
  background: url('~assets/svg/small-feedback.svg') no-repeat center;
  width: 20px;
  height: 20px;  

.ic-info-orange
  background: url('~assets/svg/ic-info-orange.svg') no-repeat center;
  width: 20px;
  height: 20px;

.ic-all-orders
  background: url('~assets/svg/ic-all-orders.svg') no-repeat center;
.ic-buy-orders
  background: url('~assets/svg/ic-buy-orders.svg') no-repeat center;
.ic-sell-orders
  background: url('~assets/svg/ic-sell-orders.svg') no-repeat center;

.ic-instagram_new
  &:before
    content ic-instagram_new  
    color #78819a