font-path ?= "~assets/fonts/icons"

ic-settings = "\e900"
ic-search = "\e901"
ic-star = "\e902"
ic-info = "\e903"
ic-candle = "\e904"
ic-balance_wallet = "\e905"
ic-cancel = "\e906"
ic-arrow_drop_down = "\e915"
ic-chevron_right = "\e908"
ic-chevron_left = "\e909"
ic-logout = "\e90a"
ic-wallet_address = "\e90b"
ic-deposit = "\e90c"
ic-address = "\e90d"
ic-send = "\e90e"
ic-refresh = "\e90f"
ic-copy = "\e910"
ic-first_page = "\e911"
ic-last_page = "\e912"
ic-help = "\e913"
ic-error = "\e919"
ic-correct = "\e91a"
ic-records = "\e92a"
ic-feedback = "\e914"
ic-arrow_up = "\e907"
ic-alarm_white = "\e916"
ic-arrow_down_red = "\e917"
ic-arrow_drop_down_orange = "\e918"
ic-arrow_drop_down_white = "\e91b"
ic-arrow_drop_up_orange = "\e91c"
ic-arrow_right = "\e91d"
ic-arrow_up_green = "\e91e"
ic-avatar_error = "\e91f"
ic-avatar = "\e920"
ic-close = "\e921"
ic-check_box = "\e922"
ic-drag-vertical = "\e923"
ic-facebook = "\e924"
ic-instagram = "\e925"
ic-medium = "\e926"
ic-twitter = "\e927"
ic-telegram = "\e928"
ic-visibility_off = "\e929"
ic-visibility_on = "\e92b"
ic-lock_error = "\e92c"
ic-lock_outline = "\e92d"
ic-lock_tab = "\e92e"
ic-unlock_tab = "\e92f"
ic-pincode = "\e930"
ic-pincode_error = "\e931"
ic-star_far = "\e932"
ic-full = "\e933"
ic-sort = "\e934"
ic-sort_down = "\e935"
ic-sort_up = "\e936"
// ic-sort_up = "\e937"
// ic-sort_up-path2 = "\e938"
ic-indicators = "\e939"
ic-arrow-back = "\e93a"
ic-add = "\e93b"
ic-add_box_active_disabled = "\e93c"
ic-check_box_active_disabled = "\e93d"
ic-out = "\e93e"
ic-in = "\e93f"
ic-outcome = "\e940"
ic-income = "\e941"
ic-instagram_new = "\e942"

