// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'

// font
@require '/_fonts/*'

// variable override
@require '/_vars/*'


// Import Vuetify styling
@require '~vuetify/src/stylus/app'

// base 
@require '~assets/style/base'

// overwrite vuetify component theme
@require '/theme/*'